#center{
    position: relative;
    margin-left:auto;margin-right:auto;text-align: center;
}
#left{
    position: relative;
    float:left
}
#right{
    position:relative;
    float:right;
}
#characters{
    margin-top:25%;
    background-color: transparent;
    z-index: -1000;
}
img{
    z-index:-100;
    mix-blend-mode: multiply;
    background-color: transparent;
}
div{
    z-index:-1;
}
.chars{
    background-color: transparent;
}